[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
SQLAlchemy = ">=1.3.0"
Jinja2 = ">=2.10.1"
Flask = "*"
mysqlclient = "*"
flask-sqlalchemy = "*"
werkzeug = ">=0.15.3"

[requires]
python_version = "3.6"
