{% extends "template.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('sample_a.new_sample_a') }}">New Sample</a>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Text</th>
                    <th>Numeric</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for sample_a in samples %}
                <tr>
                    <td>{{ sample_a.text_field_a }}</td>
                    <td>{{ sample_a.numeric_field_a }}</td>
                    <td>{{ sample_a.date_field_a }}</td>
                    <td>
                        <a href="{{ url_for('sample_a.edit_sample_a', id_field_a=sample_a.id_field_a) }}">Edit</a>
                        <a href="{{ url_for('sample_a.delete_sample_a', id_field_a=sample_a.id_field_a) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}